package-db: /home/los/workspace/MiniLAX/.dist-buildwrapper/cabal-dev/packages-7.4.2.conf
local-repo: /home/los/workspace/MiniLAX/.dist-buildwrapper/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/los/.cabal/packages
world-file: /home/los/.cabal/world
build-summary: /home/los/workspace/MiniLAX/.dist-buildwrapper/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/los/workspace/MiniLAX/.dist-buildwrapper/cabal-dev/
  libsubdir: $pkgid/$compiler
  libexecdir: $prefix/libexec
  docdir: $datadir/doc/$pkgid
install-dirs global
  prefix: /home/los/workspace/MiniLAX/.dist-buildwrapper/cabal-dev/
  libdir: $prefix/lib
  libsubdir: $pkgid/$compiler
  docdir: $datadir/doc/$pkgid